<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team 2 CA Project</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>

<!-- HEADER START -->
<header class="p-3">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand">ProGamer Computing</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-navbar mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/">Home</a>
                    </li>

                    <!-- ABOUT LINK -->

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About/">About</a>
                    </li>
                </ul>

                <!-- SEARCH BAR -->

                <form class="searchform" action="">
                    <input class="searchbar" type="text" placeholder="Enter your search here...">
                    <button type="submit" class="search-button">
                        <img src="~/defaultimages/magnifyingGlass.png">
                    </button>
                </form>


                <!-- NO LOGIN END TEXT-->
                <div class="loginSignupContainer">
                    <a href="/Home/Login/" type="button" class="btn btn-outline-light me-2">Login</a>
                </div>
                <!--END OF NO LOGIN END TEXT MENU -->

            </div>
        </div>
    </nav>
</header>

<!-- HEADER END-->
<br />
<!-- GAP BETWEEN HEADER & BODY -->

<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--End Body Section-->
    <!--Footer-->
    <footer class="border-top footer text-muted bg-light">
        <div class="footer_container">
            &copy; 2021 - ProGamer Computing
            <a class="contactUs" href="/">Contact Us</a>
        </div>
    </footer>
    <!--END FOOTER-->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>

