
@{ Layout = "/Views/Shared/_AboutLayout.cshtml"; }


<div class="container text-center">
    <h1>@ViewData["Title"]</h1>

    <br />
    <div>
        <h2 style="color: #000; font-family: DM Serif Display; font-size: 40px;text-align: center; margin-top: 6%;">
            Executive Team
        </h2>
    </div>

</div>


<br />
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
        <div class="col-lg-4">
            <img alt="Khoong Chan Meng" width=200 height=240 src="~/imag/KONG.jpg" />
            <p></p>
            <h5>KHOONG </h5>
            <h5>Chan Meng </h5>
            <p>Chief Executive Officer </p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img alt="NGUYEN Tri Tin" width=200 height=240 src="~/imag/tin.png" />
            <p></p>
            <h5> NGUYEN </h5>
            <h5> Tri Tin</h5>
            <p>Chief of Payments & Compliance</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img alt="Tan Cher Wah" width=200 height=240 src="~/imag/cher.png" />
            <p></p>
            <h5>TAN </h5>
            <h5>Cher Wah</h5>
            <p>Chief Technology Officer</p>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <div>
        <h2 style="color: #000; font-family: DM Serif Display; font-size: 40px;text-align: center;">
            Introduction
        </h2>
    </div>

    <br />
    <div class="wpb_wrapper introduction" font-size="35px">
        <p>
            <strong>ProGamer Computing Company </strong>is an international provider for multiple video games which bundles a full-service agile payment
            and e-Commerce platform together with an e-Distribution network.
        </p>
        <p>Founded in 2021, ProGamer Computing exists to expand the online footprint and sales potential of video games around the world.</p>
        <div>
            <h2>
                <small class="text-muted"> Why choose us?</small>
            </h2>
        </div>
        <ul>
            <li>Contain different types of games you need when it comes to purchase a game:Hitman,Pacman and so on.</li>
            <li>Merchant of Record: Local law compliance, tax collection and remittance, fraud and chargeback mitigation.</li>
            <li>Secure payment transactions processing in 140+ countries. PCI DSS compliance, intelligent routing. </li>
            <li>Expert services and data intelligence to customize, implement, manage, care & optimize online business. </li>
            <li>Support for one time/recurring payments, subscriptions and consumption-based models.</li>
        </ul>
    </div>

</div>
