@{ ViewData["Title"] = "Login"; }

@{ Layout = "/Views/Shared/_LoginPageLayout.cshtml"; }

<style>
    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }
</style>
<br />
<div class="loginSignupForm text-center bg-light">
    <main class="form-signin">
        <form id="form" action="/Home/Login" method="POST">
            <br />
            <img src="~/defaultimages/login.png" alt="mdo" width="50" height="50">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input class="form-control" type="email" id="email" name="email" placeholder="name@example.com" @ViewData["email"]>
                <label for="floatingInput"><i class="fa fa-envelope"></i> Email address</label>
            </div>


            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                <label for="password"><i class="fa fa-key"></i> Password</label>

            </div>

            <table>
                <tr>
                    <td colspan="2" align="center">
                        <div id="err_msg">@ViewData["errMsg"]</div>
                </tr>

            </table>
            <input id="submitBtn" type="submit" class="w-100 btn btn-lg btn-primary" />

        </form>
        <a class="w-100 btn btn-lg btn-secondary" href="/Home/ForgotPassword">Forgot Password</a>
        <div class="container">
            <p class="registerOrLogin">Don't have an account? <a href="/Home/SignUp">Register here</a>.</p>
        </div>
    </main>
</div>


