@{
    ViewData["Title"] = "Sign-up";
}

@{
    Layout = "/Views/Shared/_SignUpPageLayout.cshtml";
}

<style>
   
    i.fa-eye {
        cursor: pointer;
    }

    i.fa-key {
        cursor: pointer;
    }
</style>
<script>

    window.onload = validatePassword;

    function validatePassword() {

        var password = document.getElementById("password");
        var confirmpassword = document.getElementById("confirmpassword");


        if (password.value != confirmpassword.value) {
            alert("Sorry. Password and Re-entered passwords do not return a match");
            return false;
        }
        else
            return true;
        }

 
</script>


<br />

<div class="loginSignupForm text-center bg-light">
    <main class="form-signin">
        <form id="form" action="/home/GetDetails" data-toggle="validator" role="form" method="post" onsubmit="return validatePassword()">
            <br />
            <h2> Register </h2>
            <p> Please fill in all particulars in this electronic form in order to create an account. All specified fields are mandatory.</p>
            <hr />


            <div class="form-floating">
                <select class="form-control" aria-labelledby="salutations" name="salutations">
                    <option>Mr.</option>
                    <option>Mrs.</option>
                    <option>Ms.</option>
                    <option>Mdm.</option>
                    <option>Dr.</option>
                </select>
                <label for="salutations">Salutations: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="enter first name: " required>
                <label for="firstname"><i class="fa fa-address-card"></i> First Name: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="enter last name: " required>
                <label for="lastname"><i class="fa fa-address-card"></i> Last Name: </label>
            </div>

            <div class="form-floating">
                <select class="form-control" aria-labelledby="gender" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>

                <label for="gender"><i class="fa fa-transgender-alt"></i> Please select your Gender: </label>

            </div>

            <div class="form-floating">
                <input type="email" class="form-control" name="email" id="email" placeholder="enter email: e.g. name@example.com etc." required>
                <label for="email"><i class="fa fa-envelope"></i> Email address</label>
            </div>


            <div class="form-floating">

                <input type="password" class="form-control" name="password" id="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                       placeholder="password: " title="Your password must consist of at least a digit, one lower case letter,
                       one upper case letter, one special character and at least a length of 8 characters" required>
                <label for="password"><i class="fa fa-key"></i> Password (Toggle 'eye' icon to set visibility on and off:) </label>
                <a align="right"><i class="fa fa-eye" id="togglePassword"></i></a>

            </div>

            <div class="form-floating">
                <input type="password" class="form-control" name="reenterpassword" id="confirmpassword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z_])(?=.*[a-z_]).*$"
                       placeholder="re-enter password: " required>
                <label for="re-enter password"><i class="fa fa-eye"></i> Re-Enter Password (Press 'key' icon to set visibility on:) </label>
                <i class="fa fa-key" id="togglePassword2"></i>
            </div>

            <div class="form-floating">
                <input type="date" name="DOB" id="birthday" class="form-control" min="1910-01-01" max="2003-12-31" required>
                <label for="birthday"><i class="fa fa-birthday-cake"></i> Enter Birthdate: </label>

            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="address" id="address" placeholder="enter address: " required>
                <label for="address"><i class="fa fa-address-book"></i> Enter Address: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="postalcode" id="PostalCode" pattern="[0-9]{6}" placeholder="Postal Code: " required>
                <label for="PostalCode"><i class="fa fa-address-book"></i> Enter Postal Code: </label>
            </div>


            <hr>

            <p>By creating an account, you agree to our <a href="#">Terms & Privacy Policy.</a>.</p>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Sign Up</button>
            <button type="reset" class="w-100 btn btn-lg btn-primary">Reset</button>


            <div class="container signin">
                <p class="registerOrLogin">Already have an account? <a href="/Home/Login">Sign in</a>.</p>
            </div>

        </form>


        <h2 style="font-style:italic; color:deeppink">@ViewData["Result"]</h2>

    </main>
</div>