@{
    ViewData["Title"] = "Sign-up";
}

@{
    Layout = "/Views/Shared/_SignUpPageLayout.cshtml";
}

<style>
    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }
</style>
<br />
<div class="loginSignupForm text-center bg-light">
    <main class="form-signin">
        <form id="form" action="/home/Index" data-toggle="validator" role="form" method="POST">
            <br />
            <h2> Register </h2>
            <p> Please fill in all particulars in this electronic form in order to create an account. All specified fields are mandatory.</p>
            <hr />


            <div class="form-floating">
                <select class="form-control" aria-labelledby="salutations">
                    <option>Mr.</option>
                    <option>Mrs.</option>
                    <option>Ms.</option>
                    <option>Mdm.</option>
                    <option>Dr.</option>
                </select>
                <label for="salutations">Salutations: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="firstname" placeholder="enter first name: " required>
                <label for="firstname"><i class="fa fa-address-card"></i> First Name: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="lastname" placeholder="enter last name: " required>
                <label for="lastname"><i class="fa fa-address-card"></i> Last Name: </label>
            </div>

            <div class="form-floating">

                <select class="form-control" aria-labelledby="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>

                <label for="gender"><i class="fa fa-transgender-alt"></i> Please select your Gender: </label>

            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="enter email: e.g. name@example.com etc." required>
                <label for="email"><i class="fa fa-envelope"></i> Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="reenterpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*\W+)(?=.*[A-Z]).{8,}"
                       placeholder="re-enter password: " title="Your password must consist of at least a digit, one lower case letter,
                       one upper case letter, and at least a length of 8 characters" required>

                <label for="floatingInput"><i class="fa fa-key"></i> Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="reenterpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*\W+)(?=.*[A-Z]).{8,}"
                       placeholder="re-enter password: " required>
                <label for="re-enter password"><i class="fa fa-key"></i> Re-Enter Password</label>

            </div>

            <div class="form-floating">
                <input type="date" id="birthday" class="form-control" min="1910-01-01" max="2003-12-31" required>
                <label for="start"><i class="fa fa-birthday-cake"></i> Enter Birthdate: </label>

            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="enter address: " required>
                <label for="floatingInput"><i class="fa fa-address-book"></i> Enter Address: </label>
            </div>


            <hr>

            <p>By creating an account, you agree to our <a href="#">Terms & Privacy Policy.</a>.</p>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Sign Up.</button>

            <div class="container signin">
                <p class="registerOrLogin">Already have an account? <a href="/Home/Login">Sign in</a>.</p>
            </div>

            <table>
                <tr>
                    <td colspan="2" align="center">
                        <span id="err_msg">@ViewData["errmsg"]</span>
                    </td>
                </tr>

            </table>


        </form>

    </main>
</div>