@{
    ViewData["Title"] = "Sign-up";
}

@{
    Layout = "/Views/Shared/_SignUpPageLayout.cshtml";
}

<style>
    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }
</style>
<br />
<div class="container text-center bg-light">
    <main class="form-signin">
        <form>
            <br />
            <h2> Register </h2>
            <p> Please fill in all particulars in this electronic form in order to create an account. All specified fields are mandatory.</p>
            <hr />

            <div class="form text-start">
                <p>Salutations: </p>
                <label for="Mr."> Mr.: </label>
                <input type="radio" id="male" name="Salutations" value="Mr." required>
                <label for="Ms."> Ms.: </label>
                <input type="radio" id="female" name="Salutations" value="Ms.">
                <label for="Mrs."> Mrs.: </label>
                <input type="radio" id="female" name="Salutations" value="Mrs.">
                <label for="Mdm."> Mdm.: </label>
                <input type="radio" id="female" name="Salutations" value="Mdm.">
                <label for="Dr."> Dr.: </label>
                <input type="radio" id="other" name="Salutations" value="Dr.">
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="enter first name: " required>
                <label for="floatingInput"><i class="fa fa-address-card"></i> First Name: </label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="enter last name: " required>
                <label for="floatingInput"><i class="fa fa-address-card"></i> Last Name: </label>
            </div>

            <div class="form text-start">
                <p>Please select your gender: </p>
                <label for="male"> Male: </label>
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="female"> Female: </label>
                <input type="radio" id="female" name="gender" value="female">
                <label for="other"> Other: </label>
                <input type="radio" id="other" name="gender" value="other">
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="enter email: e.g. name@example.com etc." required>
                <label for="floatingInput"><i class="fa fa-envelope"></i> Email address</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="enter username: " required>
                <label for="floatingInput"><i class="fa fa-user-alt"></i> Username</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="enter password: ">
                <label for="floatingInput"><i class="fa fa-key"></i> Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="re-enter password" placeholder="re-enter password: " required>
                <label for="floatingInput"><i class="fa fa-key"></i> Re-Enter Password</label>
            </div>

            <div class="form-floating">
                <input type="date" class="form-control" id="start" placeholder="enter birthdate: "
                       value="01/01/1900"
                       min="01/01/1901" max="31/04/2021"
                       required>
                <label for="start"><i class="fa fa-birthday-cake"></i> Enter Birthdate: </label>

            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="enter address: " required>
                <label for="floatingInput"><i class="fa fa-address-book"></i> Enter Address: </label>
            </div>


            <hr>

            <p>By creating an account, you agree to our Terms & Privacy Policy.</p>

            <button type="submit" class="registerbtn">Register</button>

            <div class="container signin">
                <p>Already have an account? <a href="/Home/Login">Sign in</a>.</p>
            </div>

            <table>
                <tr>
                    <td colspan="2" align="center">
                        <div id="err_msg">@ViewData["errMsg"]</div>
                </tr>

            </table>


        </form>
    </main>
</div>

