/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.pageHeader {
    margin-left: 45%;
}

.welcomeBar {
    margin-top: 35px;
    margin-left: 10.5%;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 35%;
    flex: 1 1 auto;
    font-size: 21px;
    margin-right: 1.5%;
}

.shoppingCartLogo {
    display: inline-flex;
    justify-content: right;
    flex-direction: row;
    flex: 1 1 auto;
}

.shoppingCartHeading {
    margin-bottom: 7px;
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row;
    flex: 1 1 auto;
    margin-left: 27%;
    font-size: 21px;
}

.qtyInCart {
    color: red;
    padding-left: 3px;
}

.shoppingCartTable {
    width: 73%;
    margin-top: 2%;
    margin-left: 11%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    font-size: 18px;
}

.totalPrice {
    margin-left: 80%;
}

.checkoutBtn {
    margin-left: 71%;
}

.plusButton {
    margin-left: 8px;
    background-color: #FFFFF0;
    width: 25px;
    height: 25px;
    line-height: 5px;
    padding: 5px;
}

    .plusButton:hover {
        color: #212529;
    }

.minusButton {
    margin-right: 8px;
    background-color: #FFFFF0;
    width: 25px;
    height: 25px;
    line-height: 5px;
    padding: 5px;
}

    .minusButton:hover {
        color: #212529;
    }

.removeAllButton {
    margin-top: 8px;
    background-color: #FFFFF0;
    height: 25px;
    line-height: 5px;
    font-size: 12.5px;
}

    .removeAllButton:hover {
        color: red;
    }

tr th:nth-child(2) {
    width: 20%;
}

tr th:nth-child(3) {
    width: 20%;
}

tr th:nth-child(3) {
}

tr td:nth-child(3) {
}

tr th:nth-child(4) {
    text-align: center;
}

tr td:nth-child(4) {
    text-align: center;
}

tr th:nth-child(5) {
    text-align: center;
}

tr td:nth-child(5) {
    text-align: center;
}

tr th:nth-child(6) {
    text-align: center;
}

tr td:nth-child(6) {
    text-align: center;
}

.loginSignupForm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

.quantity {
    width: 12%;
    text-align: center;
    border: none;
    color: black;
}

@media only screen and (max-width: 999px) and (min-width: 900px) {
    .shoppingCartLogo {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 15%;
        font-size: 17px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 18);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 46%;
        flex: 1 1 auto;
        font-size: 18px;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: 19%;
        max-width: 550px;
    }

    .registerOrLogin {
        margin-right: 55%;
    }
}



@media only screen and (max-width: 1099px) and (min-width: 999px) {

    .shoppingCartLogo {
         margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 15%;
        font-size: 18px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 13);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 46%;
        flex: 1 1 auto;
        font-size: 18px;
    }

    .registerOrLogin {
        margin-right: 20%;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: 18.5%;
        max-width: 650px;
    }

    .quantity {
        width: 12%;
        text-align: center;
        border: none;
        color: black;
    }
}



@media only screen and (max-width: 1199px) and (min-width: 1099px) {

    .shoppingCartLogo {
         margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 16%;
        font-size: 20px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 13);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 46%;
        flex: 1 1 auto;
        font-size: 20px;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: 19%;
        max-width: 750px;
    }

    .registerOrLogin {
        margin-right: 35%;
    }

    .quantity {
        width: 36%;
        text-align: center;
        border: none;
        color: black;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1199px) {

    .shoppingCartLogo {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 15%;
        font-size: 21px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 6.3);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 40%;
        flex: 1 1 auto;
        font-size: 21px;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        max-width: 850px;
        margin-left: 17%;
    }

    .registerOrLogin {
        margin-right: 37%;
    }

    .quantity {
        width: 32%;
        text-align: center;
        border: none;
        color: black;
    }
}



@media only screen and (max-width: 1401px) and (min-width: 1300px) {

    .shoppingCartLogo {
         margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 15%;
        font-size: 21px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 9);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 45%;
        flex: 1 1 auto;
        font-size: 21px;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        max-width: 850px;
        margin-left: 17%;
    }

    .registerOrLogin {
        margin-right: 37%;
    }

    .quantity {
        width: 28%;
        text-align: center;
        border: none;
        color: black;
    }
}


@media only screen and (max-width: 1533px) and (min-width: 1401px) {

    .shoppingCartLogo {
         margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
        flex: 1 1 auto;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 27.8%;
        font-size: 21px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 10.5);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 35%;
        flex: 1 1 auto;
        font-size: 21px;
    }

    container-login {
        max-width: 1320px;
        margin-left: 10%;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
        max-width: 900px;
    }

    .registerOrLogin {
        margin-right: 10%;
    }

    .quantity {
        width: 24%;
        text-align: center;
        border: none;
        color: black;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1533px) {

    .shoppingCartLogo {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: right;
        flex-direction: row;
    }

    .shoppingCartHeading {
        margin-bottom: 7px;
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        flex: 1 1 auto;
        margin-left: 27%;
        font-size: 21px;
    }

    .welcomeBar {
        margin-top: 35px;
        margin-left: calc(100% / 11.5);
        display: inline-flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 35%;
        flex: 1 1 auto;
        font-size: 21px;
    }

    .loginSignupForm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
        max-width: 900px;
    }

    .registerOrLogin {
        margin-right: 19%;
    }

    .quantity {
        width: 19%;
        text-align: center;
        border: none;
    }
}

.text-red {
    color: red;
}


body {
    background: #eeeeee;
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    color: #fff;
    padding: 5px 16px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

    .navbar img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        margin-right: 10px;
    }

    .navbar .navbar-brand {
        padding-left: 0;
        padding-right: 50px;
        font-size: 24px;
    }

        .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
            color: #fff;
        }

        .navbar .navbar-brand i {
            font-size: 25px;
            margin-right: 5px;
        }

.search-box {
    position: relative;
}

    .search-box input {
        padding-right: 35px;
        min-height: 38px;
        border: none;
        background: #faf7fd;
        border-radius: 3px !important;
    }

        .search-box input:focus {
            background: #fff;
            box-shadow: none;
        }

    .search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 10px 7px;
        height: 100%;
    }

    .search-box i {
        color: #a0a5b1;
        font-size: 19px;
    }

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .nav-item span {
    position: relative;
    top: 3px;
}

.navbar .navbar-nav > a {
    color: #efe5ff;
    padding: 8px 15px;
    font-size: 14px;
}

    .navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
        color: #fff;
        text-shadow: 0 0 4px rgba(255,255,255,0.3);
    }

    .navbar .navbar-nav > a > i {
        display: block;
        text-align: center;
    }

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
    color: #fff;
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

    .navbar .dropdown-menu a {
        color: #777 !important;
        padding: 8px 20px;
        line-height: normal;
        font-size: 15px;
    }

        .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
            color: #333 !important;
            background: transparent !important;
        }

.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
    background: transparent !important;
}

.navbar .navbar-nav .user-action {
    padding: 9px 15px;
    font-size: 15px;
}

.navbar .navbar-toggle {
    border-color: #fff;
}

    .navbar .navbar-toggle .icon-bar {
        background: #fff;
    }

    .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
        background: transparent;
    }

.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.navbar .divider {
    background-color: #e9ecef !important;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
    }
}

@media (max-width: 1199px) {
    .navbar .navbar-nav > a > i {
        display: inline-block;
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }

    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .navbar .navbar-form {
        border: none;
        display: block;
        margin: 10px 0;
        padding: 0;
    }

    .navbar .navbar-nav {
        margin: 8px 0;
    }

    .navbar .navbar-toggle {
        margin-right: 0;
    }

    .input-group {
        width: 100%;
    }
}

.main {
    width: 50%;
    margin: 50px auto;
}

#more {
    display: none;
}

/* Bootstrap 4 text input with search icon */

.font-size14 {
    font-size: 14px;
}

.margin-right14 {
    margin-right: 14px;
}